header {
  display: flex;
  justify-content: space-between;
}

header > * {
  margin: 40px 0;
}

.logo {
  font-size: 30px;
  transition: all 0.5s;
}

.logo span {
  color: var(--primary-color);
}

.logo:hover,
a:hover {
  transform: scale(1.1);
  font-weight: 500;
  color: var(--primary-color);
}

nav {
  display: flex;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  transition: all 0.5s;
}

.toggle-menu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


.open-menu > * {
  font-size: 15px !important;
}
