.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-column {
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

ul {
  padding: 0;
}

li {
  font-size: 20px;
  margin-left: 20px;
}
