* {
  font-family: Saira;
  color: white;
  margin: 0;
}

body {
  margin: 0 120px;
  height: 100vh;
  background-color: black;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

app-skills {
  width: 100%;
}

@media (max-width: 1270px) {
  p {
    font-size: 20px !important;
  }
}

@media (max-width: 1125px) {
  .background {
    width: 250px !important;
  }

  p {
    font-size: 17px !important;
  }
}

@media (max-width: 1050px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 980px) {
  p {
    font-size: 15px !important;
  }

  .skills-grid {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 790px) {
  .background {
    width: 200px !important;
  }

  p {
    font-size: 14px !important;
  }
}

@media (max-width: 710px) {
  nav > * {
    font-size: 15px !important;
    margin: 0 12px !important;
  }
}

@media (max-width: 650px) {
  body {
    margin: 0 60px !important;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px !important;
  }
}

@media (max-width: 560px) {
  .background {
    filter: blur(3px) !important;
    position: absolute;
    top: 0;
  }

  .content {
    justify-content: center !important;
  }

  .component {
    width: 100% !important;
  }

  .footer {
    font-size: 12px !important;
  }
}

@media (max-width: 535px) {
  .background {
    position: absolute;
    top: 0;
  }

  .content {
    justify-content: center !important;
  }

  .logo {
    font-size: 20px !important;
  }

  nav > * {
    font-size: 13px !important;
    margin: 0 9px !important;
  }
}

@media (max-width: 410px) {
  .background {
    position: absolute;
    top: 0;
  }

  .content {
    justify-content: center !important;
  }

  body {
    margin: 0 40px !important;
  }

  .action-button {
    font-size: 17px !important;
  }
}

@media (max-width: 375px) {
  nav > * {
    font-size: 13px !important;
    margin: 0 5px !important;
  }
}
